<a href="https://colab.research.google.com/github/medroso-paul/CPE009A-OOP/blob/main/Demo%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#Python Identation
if 5>2:
  print("Five is greater than two")

Five is greater than two

In [11]:
if 5>2:
  print("Five is greater than two") #comparison of numbers 5 and 2

Five is greater than two

In [24]:
#This is a single variable with a value
x=1
a,b=0,-1

print(a)
print(b)
print(x)
b="Sally"

print(b)

0
-1
1
Sally

In [26]:
#Casting
b="Sally"
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

In [28]:
#Type()Function
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [31]:
#Double Qoutes or Single Qoutes
y="John"
print(y)
y='john'
print(y)

John
john

In [ ]:
#Case sensitive
a=4
A="Sally"
#A will not overwrite a

In [32]:
#Multiple Variables
x,y,z="one","two","three"
print(x)
print(y)
print(z)

one
two
three

In [33]:
#One Value to Multiple Variables
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

In [36]:
#Output Variables
x="enjoying"
print("Python programming is " +x)

Python programming is enjoying