<a href="https://colab.research.google.com/github/medroso-paul/CPE009A-OOP/blob/main/Demo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
print(bool("Hello"))
print(bool(15))
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

True
True

False

In [6]:
#Bool()Function
print(bool(True))
print(bool(False))

True
False

In [9]:
#Functions can Return a Boolean
def myFunction():
 return True
print(myFunction())

True

In [16]:
#You can execute code based on the Boolean answer of a function:
def myFunction():
  return False
if myFunction():
    print("YES")
else:
    print("NO")

NO

In [17]:
print(10>9)
a=6
b=7
print(a==b)
print(a!=a)

True
False
False

In [21]:
#Python Operators
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**2)

15
5
50
2.0
0
3
100

In [26]:
#Python Bitwise Operators
a=60 #0011 1100
b=13 #0000 1101
print(a&b)
print(a|b)
print(~a)
print(~b)
print(a<<2)
print(b<<2)
print(a>>2)
print(b>>2)
a<<1

12
61
-61
-14
240
52
15
3

120

In [29]:
#Pyhton assignment operators
x=1000000000000
x+=3
x-=3
x*=3
x/=3
x%=3
print(x)

1.0

In [41]:
#Logical Operators
y=60
z=13
print(y>b)
print(z>y)
print(y>z and z>y)
print(y>z or z<y)
print(y>z or z>y)
print(not(y>z and z<y))
print(not(y>z and z>y))

True
False
False
True
True
False
True

In [42]:
#Identity Operators
print(y is z)
print(y is not z)

False
True

In [45]:
#loop statement
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x=="Sunday":
    break

Sunday

In [49]:
#The range()function
for x in range(6):
  print(x)
for x in range(2, 6):
    print(x)

0
1
2
3
4
5
2
3
4
5

In [52]:
#nested loops
adjective=["red", "big", "tasty"]
fruits=["apple", "banana", "cherry"]
for x in adjective:
 for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [2]:
#The break statement
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [3]:
#The Continue statement
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

In [5]:
#The Else statement
i=1
while i<6:
  print(i)
  i+=1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6